img {
  height: 200px;
  width: 200px;
}

.wrapper {
  width: 100%;
  display: grid;
  place-content: center;
  place-items: center;
  gap: 1rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  gap: 2rem;
}
